.page{
	width: 1240px;
	margin: 0 auto;
}
.goBack {
	width: 4rem;
	height: 4rem;
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	line-height: 4rem;
	font-size: 0.8rem;
	cursor: pointer;
	position: fixed;
	border-radius: 50%;
	bottom: 2rem;
	right: 2rem;
	z-index: 100;
}
.goBack>a{
	color: #ccc;
}
.goBack>a:hover{
	color: #fff;
}
